.quiz-progress-bar {
  width: 567px;
  height: 53px;
  margin-top: 107px; /* Adjust if the actual distance differs due to the navbar's height */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quiz-name {
  width: 1024px; /* Width of 803px */
  height: 24px; /* Height of 24px */
  font-size: 22px; /* Font size of 20px */
  color: #CA0123; /* Text color #CA0123 */
  margin-top: 104px; /* Space from the <img> above is 104px */
  padding-left: 200px; /* Text starts 326px from the left end of the page */
  box-sizing: border-box; /* Ensures padding is included in the total width and height */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* Rest of your styles for quiz-name */
}

.quiz-question {
  width: 803px; /* Width of 803px */
  height: 120px; /* Height of 120px */
  font-size: 26px; /* Font size of 50px */
  font-weight: bold; /* Text is bold */
  /* Additional styles */
  margin-top: 20px; /* Adjust based on layout needs */
  padding-left: 200px; /* Adjust if you want some padding inside */
  box-sizing: border-box; /* Ensures padding is included in the total width and height */
  font-family: "Poppins", sans-serif; /* Consistent font family */
  color: #000000; /* Adjust text color as needed, using #000000 as placeholder */
}

.quiz-answers {
  width: 529px; /* Width of 529px */
  height: 160px; /* Height of 160px */
  margin-top: 20px; /* Space from the element above, adjust as needed */
  padding-left: 200px; /* Consistency with other elements, adjust as needed */
  box-sizing: border-box; /* Ensures padding is included in the total width and height */
  font-family: "Poppins", sans-serif; /* Consistent font family with the rest of the quiz */
  /* Additional styles as needed, e.g., background, border */
}
